[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd2.service fleet.service docker.service flanneld.service
After=etcd2.service fleet.service docker.service flanneld.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/bash -c "etcdctl get /deis/scheduler/k8s/master >/dev/null 2>&1 || etcdctl mk /deis/scheduler/k8s/master"
ExecStartPre=/bin/bash -c "etcdctl set /deis/scheduler/k8s/master $COREOS_PRIVATE_IPV4"
ExecStartPre=/bin/sh -c "docker inspect kube-apiserver >/dev/null 2>&1 && docker rm -f kube-apiserver || true"
ExecStart=/bin/bash -c "docker run \
--net=host \
--name=kube-apiserver \
--rm \
--volume=/etc/kubernetes:/etc/kubernetes \
--volume=/usr/share/ca-certificates:/etc/ssl/certs \
--volume=/var/run/kubernetes:/var/run/kubernetes \
quay.io/kelseyhightower/kube-apiserver:0.20.0 \
--etcd-servers=http://${COREOS_PRIVATE_IPV4}:2379 \
--insecure-bind-address=0.0.0.0 \
--insecure-port=8080 \
--logtostderr=true \
--service-cluster-ip-range=172.17.224.0/19 \
--v=2"
Restart=always
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
