[Unit]
Description=Kubernetes to SkyDNS bridge
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd2.service
After=etcd2.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10m
ExecStartPre=/bin/sh -c "docker inspect deis-kube2sky >/dev/null 2>&1 && docker rm -f deis-kube2sky || true"
ExecStart=/bin/sh -c "docker run \
  --name deis-kube2sky \
  --rm \
  gcr.io/google_containers/kube2sky:1.11 \
  -domain=$(etcdctl get /deis/platform/domain) \
  -etcd-server=http://$COREOS_PUBLIC_IPV4:4001 \
  --kube_master_url=http://$COREOS_PRIVATE_IPV4:8080"
ExecStopPost=-/usr/bin/docker rm -f deis-kube2sky

[X-Fleet]
MachineOf=deis-kube-apiserver.service
