[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/bash -c "/opt/bin/wupiao $(/usr/bin/etcdctl get /deis/scheduler/k8s/master):8080"
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kube-proxy https://storage.googleapis.com/kubernetes-release/release/v0.20.2/bin/linux/amd64/kube-proxy
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-proxy
ExecStart=/bin/bash -c "/opt/bin/kube-proxy \
--logtostderr=true \
--master=http://$(/usr/bin/etcdctl get /deis/scheduler/k8s/master):8080 \
--v=2"

Restart=always
RestartSec=10
LimitNOFILE=1048576

[X-Fleet]
Global=true
