[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd2.service fleet.service docker.service flanneld.service
After=etcd2.service fleet.service docker.service flanneld.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/bin/bash -c "etcdctl get /deis/scheduler/k8s/master >/dev/null 2>&1 || etcdctl mk /deis/scheduler/k8s/master"
ExecStartPre=/bin/bash -c "etcdctl set /deis/scheduler/k8s/master $COREOS_PRIVATE_IPV4"
ExecStartPre=/bin/bash -c "/opt/bin/download-k8s-binary kube-apiserver"
ExecStartPre=/opt/bin/wupiao 127.0.0.1:2379/v2/machines
ExecStart=/bin/bash -c "/opt/bin/kube-apiserver \
  --service_account_lookup=false \
  --admission_control=NamespaceLifecycle,NamespaceAutoProvision,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  --runtime_config=api/v1 \
  --allow_privileged=true \
  --insecure_bind_address=0.0.0.0 \
  --bind_address=0.0.0.0 \
  --insecure_port=8080 \
  --kubelet_https=true \
  --secure_port=6443 \
  --service-cluster-ip-range=10.100.0.0/16 \
  --etcd-servers=$(curl 127.0.0.1:2379/v2/machines | sed 's/ //g') \
  --public_address_override=$COREOS_PRIVATE_IPV4 \
  --logtostderr=true \
  --v=2"

Restart=always
RestartSec=10
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
