[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/bash -c "/opt/bin/wupiao $(/usr/bin/etcdctl get /deis/scheduler/k8s/master):8080"
ExecStartPre=/bin/sh -c "docker inspect kube-proxy >/dev/null 2>&1 && docker rm -f kube-proxy || true"
ExecStart=/bin/bash -c "sudo docker run \
--net=host \
--name=kube-proxy \
--privileged \
--rm \
--volume=/etc/kubernetes:/etc/kubernetes \
--volume=/usr/share/ca-certificates:/etc/ssl/certs \
--volume=/usr:/usr \
--volume=/lib64:/lib64 \
quay.io/kelseyhightower/kube-proxy:0.20.0 \
--logtostderr=true \
--master=http://$(/usr/bin/etcdctl get /deis/scheduler/k8s/master):8080 \
--v=2"
Restart=always
RestartSec=10
LimitNOFILE=1048576

[X-Fleet]
Global=true
