[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=install-kube-proxy.service
After=install-kube-proxy.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c '/opt/bin/kube-proxy --master=`/usr/bin/etcdctl get /deis/scheduler/k8s/master`:8080 --logtostderr=true'
Restart=always
RestartSec=10

[X-Fleet]
Global=true
