[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=deis-kube-apiserver.service
After=deis-kube-apiserver.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/bash -c "/opt/bin/wupiao $(/usr/bin/etcdctl get /deis/scheduler/k8s/master):8080"
ExecStartPre=/bin/sh -c "docker inspect kube-controller-manager >/dev/null 2>&1 && docker rm -f kube-controller-manager || true"
ExecStartPre=/bin/bash -c "/opt/bin/download-k8s-binary kube-controller-manager"
ExecStart=/bin/bash -c "/opt/bin/kube-controller-manager \
  --service_account_private_key_file=/opt/bin/kube-serviceaccount.key \
  --master=127.0.0.1:8080 \
  --logtostderr=true \
  --master=http://${COREOS_PRIVATE_IPV4}:8080 \
  --pod_eviction_timeout=15s \
  --v=2"

Restart=always
RestartSec=10
LimitNOFILE=1048576

[X-Fleet]
MachineOf=deis-kube-apiserver.service
